<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=  , initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page 1+2</h1>
    <!-- <h3><%=  "apnacollege".toUpperCase() %></h3> -->
    <h3><%=  ["rashad","king","srk"][2] %></h3>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae nisi nobis obcaecati laborum pariatur, voluptatum voluptate atque neque dolorem hic quis placeat quod quibusdam! Iure numquam nobis molestias at sint.
    </p>
    <button>Click me!</button>
</body>
</html>